<link href="https://cdn.jsdelivr.net/npm/daisyui@2.51.5/dist/full.css" rel="stylesheet" type="text/css" />
<script src="https://cdn.tailwindcss.com"></script>


<div class="min-h-screen flex items-center justify-center">
    <div class="border-2 border-gray-400 p-8 rounded-lg">
        <h1 class="text-3xl mb-8 text-center font-bold">Add Play Tokens</h1>
        <form class="flex flex-col items-center" method="post" action="{% url 'add_gift_tokens' %}">
            {% csrf_token %}
            <div class="flex flex-row items-center mb-4">
                <label for="{{ form.card_id_input.id_for_label }}" class="text-lg mr-2">Card ID:</label>
                {{ form.card_id_input }}
            </div>
            <div class="flex flex-row items-center mb-4">
                <label for="{{ form.amount_input.id_for_label }}" class="text-lg mr-2">Token amount:</label>
                {{ form.amount_input }}
            </div>
            <div class="flex flex-row items-center mb-4">
                <label for="{{ form.operation_input.id_for_label }}" class="text-lg mr-2">Operation:</label>
                {{ form.operation_input }}
            </div>
            <input class="py-2 px-4 bg-blue-500 text-white rounded-md hover:bg-blue-700 transition duration-200"
                type="submit" value="Submit">
        </form>
    </div>
</div>